root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[*.{sh,zsh,bash}]
indent_size = 4
binary_next_line = true
space_redirects = true
switch_case_indent = true
function_next_line = false

[{*.ps1,Justfile}]
indent_size = 4

[{codex/*/config.toml,codex/rules/*.rules}]
indent_size = 4

[git/git.ini]
indent_style = tab
trim_trailing_whitespace = false

[wt/wt.json]
trim_trailing_whitespace = false
insert_final_newline = false
indent_size = 4

[fastfetch/sakiko.txt]
insert_final_newline = false
